*_dict*
*~
*.o
*.d
*.so
*.pcm
*.cxx
CORE
Software
Tools
ZMET2015/output
ZMET2015/vtxreweighting/ht_ratio_data_novtx*.root

dilepbabymaker/batchsubmit/log_merge_*
dilepbabymaker/batchsubmit/submit_logs
dilepbabymaker/batchsubmit/job_logs
dilepbabymaker/batchsubmit/configs*
dilepbabymaker/batchsubmit/job_input/jetCorrections/Summer15_*
dilepbabymaker/*.root
